<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="profileForm">
      What's your name:<br>
        <input type="text" name="fullName"><br>
      Age:<br>
        <input type="text" name="age"><br>
      School:<br>
        <input type="text" name="school"><br>
      Location:<br>
        <input type="text" name="location"><br>
      Biography:<br>
        <input type="text" name="biography"><br>
      Interests/Hobbies: (Please select one or more)<br>
        <!-- List of interests with checkboxes next to import  -->
      Career Interests: (Please choose one)<br>
        <!-- Drop down menu with list of career fields  -->
      General Availability: (Please choose one)<br>
        <!-- Three options being Weekdays Only, Weekends Only, and Weekdays + Weekends. -->
    </form>
    <div class="saveButton">
      <button type="button">Save & Continue</button>
    </div>
    <!-- Progress dots  -->
  </body>
</html>
