<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1><%= title %></h1>
        <h2>The place for mentees to connect with qualified mentors.></h2>
  <br>
      <div class="signUpButton">
        <button type="button">Sign Up</button>
      </div>
  <br>
      <p>Already have a Mentor Connector account?</p>
      <div class="loginButton">
        <button type="button">Login</button>
      </div>
  <br>
      <h2>By using Mentor Connector, you agree to Mentor Connector's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</h2>
    </body>
</html>
