<!DOCTYPE html>
<html lang='en'>
<% include ./partials/head %>
  <body>
    <img src="https://i.imgur.com/OVpoMit.png">
      <h1><%= title %></h1>
        <h2>The place for mentees to connect with qualified mentors.</h2>
  <br>
      <div class="signUpButton">
        <a href="/userChoice"><button type="button" class = "btn-success">Sign Up</button></a>
      </div>
  <br>
      <p>Already have a Mentor Connector account?</p>
      <div class="loginButton">
        <button type="button" class= "btn-success">Login</button>
      </div>
  <br>
      <h6>By using Mentor Connector, you agree to Mentor Connector's <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</h6>
    </body>
<% include ./partials/footer %>
<% include ./partials/scripts %>
</html>
