<!DOCTYPE html>
<html lang='en'>
<% include ./partials/head %>
  <body>
      <header>
        <!-- My profile link button  -->
        <h1>Available Mentors</h1>
        <!-- Have number of Avaiable mentors displayed on left and Filter button plus icon on right -->
      </header>
        <div class="availableMatches">

          <div class="otherMatches" id="otherMatches">
          </div>
        </div>
<% include ./partials/footer %>
<% include ./partials/scripts %>
<script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
