<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
        <!-- My profile link button  -->
        <h1>Available Mentors</h1>
        <!-- Have number of Avaiable mentors displayed on left and Filter button plus icon on right -->
      </header>
        <div class="availableMatches">

          <div class="bestMatch">
            <div id="wholeName"
              <label for="name">Name:</label>
              <input type="text" id="name" name="fullName">
            </div>
            <div id="jobRole">
              <label for="jobName">Job Role:</label>
              <input type="text" id="job" name="jobRole">
            </div>
            <div id="intersts">
              <label for="name">Interests:</label>
              <input type="text" id="interests" name="interests">
            </div>
            <div id="location">
              <label for="name">Location:</label>
              <input type="text" id="location" name="location">
            </div>
            <!-- Bookmark and Select buttons -->
            <button type="button">Bookmark</button>
              <!-- Bookmark icon -->
            <button type="button">Select</button>
              <!-- Select icon -->
          </div>

          <div class="otherMatches">
            <div id="wholeName"
              <label for="name">Name:</label>
              <input type="text" id="name" name="fullName">
            </div>
            <div id="jobRole">
              <label for="jobName">Job Role:</label>
              <input type="text" id="job" name="jobRole">
            </div>
            <div id="intersts">
              <label for="name">Interests:</label>
              <input type="text" id="interests" name="interests">
            </div>
            <div id="location">
              <label for="name">Location:</label>
              <input type="text" id="location" name="location">
            </div>
            <!-- Bookmark and Select buttons -->
            <button type="button">Bookmark</button>
              <!-- Bookmark icon -->
            <button type="button">Select</button>
              <!-- Select icon -->
          </div>


  </body>
</html>
