<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <!-- Return arrow to Available Mentors link on left and My Profile link on right -->
      <div class="profilePictureName">
        <!-- Bookmark and Select buttons -->
        <button type="button">Bookmark</button>
          <!-- Bookmark icon -->
        <button type="button">Select</button>
          <!-- Select icon -->
      </div>
    </header>

      <div class="profileDisplay">
        <div> id="jobRole">
          Job Role:
        </div>
        <div> id="industry">
          Industry:
        </div>
        <div> id="interests">
          Interests:
        </div>
        <div> id="location">
          Location:
        </div>
        <div> id="bio">
          Biography:
        </div>
        <div> id="affiliations">
          Affiliations:
        </div>
        <div> id="availability">
          Availibility:
        </div>
      </div>

  </body>
</html>
