<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Welcome!</h1>
      <h2>Are you a:</h2>
        <div class="menteeButton">
          <button type="button">Mentee</button>
            <!-- DA student (2) and student (3) -->
            <p>Select this is your're a private, public, or homeschooled student</p>
        </div>
      <br>
        <div class="mentorButton">
          <button type="button">Mentor</button>
          <!-- DA professor and teacher -->
          <p>Select this if you're an experience person in a company, college, or school who trains students</p>
        </div>
      <br>
      <!-- progress dots -->
    </body>
</html>
